/* .light {
    --bg-color: #ffffff;
    --text-color: #000000;
    --table-bg-color: #f6f8fa;
    --day-cell-bg-color: #ebedf0;
    --hover-border-color: #000000;
    --day-cell-border-color: #e1e4e8;
  }
  
  .dark {
    --bg-color: #0d1117;
    --text-color: #c9d1d9;
    --table-bg-color: #161b22;
    --day-cell-bg-color: #2d333b;
    --hover-border-color: #ffffff;
    --day-cell-border-color: #21262d;
  }
   */